{% extends 'base.html' %}

{% block content %}
<h1>{{ song_quantity ~ " songs" or "Songs" }}</h1>

<h3>
  Sort by: 
  <strong>
    <a href="{{ url_for('songs.songs', sort='title', user_id=user_id, username=username) }}">Title</a> |
    <a href="{{ url_for('songs.songs', sort='artist', user_id=user_id, username=username) }}">Artist</a> |
    <a href="{{ url_for('songs.songs', sort='date', user_id=user_id, username=username) }}">Date</a>
  </strong>
</h3>

<h1>{{ username }} ({{ user_id }})</h1>
  {% for item in data %}
      <div class="song-list-item">
        <a href="{{ url_for('song.show_song', song_id=item.id) }}">
          <div class="song-list-item-info">
            <div class="song-list-item-title">{{ item.title }} <span class="song-list-title-dark">(ID: {{ item.id }} - Owner: {{ item.owner_id }})</span></div>
            <div class="song-list-item-artist">Subtitle: {{ item.subtitle }}</div>
            <div class="song-list-item-artist">Artist: {{ item.artist }}</div>
            <div class="song-list-item-album">Album: {{ item.album }}</div>
          </div>
        </a>
        <div class="song-list-item-actions">
          <div class="song-list-item-action-button">
            <a href="#">Delete Song</a>
          </div>
          <div class="song-list-item-action-button">
            Add To: &nbsp;
            <select>
              <option value="null">[Select Setlist]</option>
              <option>Setlist</option>
              <option>Setlist two</option>
            </select>
          </div>
        </div>
      </div>
  {% endfor %}

  
{% endblock %}
