* {
    box-sizing: border-box;
}

:root {
    --background-color-main: #222;
    --song-list-item-background-color: #444;
    --song-list-item-side-margin: .7em;
    --song-list-item-up-down-margin: .6em;
    --song-list-item-title-color: white;
    --song-list-item-title-color-dark: #777;
    --song-list-title-size: 1.7em;
    --song-list-other-info-color: #ddd;
    --song-list-other-info-size: #1.3em;
    --song-list-items-space-between: 1em;
    --navbar-background-color: #111;
    --navbar-button-background-color: #333;
    --navbar-button-label-bg-color: #222;
    --navbar-label-scrolling: #01c815;
    --navbar-label-stopped: yellow;
    --lyics-title-size: 3em;
    --lyrics-subtitle-size: 2em;
    --lyrics-album-size: 1em;
    --page-bottom-padding: 10em;
}

body {
    margin: 0;
    padding: 0 0 var(--page-bottom-padding) 0;
    font-family: monospace, 'Courier New', Courier;
    background-color: var(--background-color-main);
    color: #eee;
    overflow-x: hidden;
}

a {
    color: var(--song-list-item-title-color);
    text-decoration: none;
    cursor: pointer;
}

.outermost-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    /* border: 1px solid red; */
    /* padding: 10px; */
}

.navbar-container {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    /* border: 1px solid blue; */
    width: 100%;
    background-color: var(--navbar-background-color);
    padding: .5em;
}




/* NAVBAR BUTTONS */
.nav-button {
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column nowrap;
    /* border: 2px solid green; */
    height: 65px;
    width: 65px;
    text-align: center;
    padding: .3em;
    background-color: var(--navbar-button-background-color);
}

.group-button {
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
}

.nav-button-label {
    /* border: 1px solid yellow; */
    width: 100%;
    font-size: .9em;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--navbar-button-label-bg-color);
}

.nav-button-icon {
    /* border: 1px solid orange; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--navbar-button-label-bg-color);
}

.label-stopped {
    color: var(--navbar-label-scrolling);
}

.label-scrolling {
    color: var(--navbar-label-stopped);
}

.hidden-div {
    display: none;
}




/* SONG LIST PAGE STYLES */
.song-list-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    /* border: 2px dotted green; */
    width: 100%;
    margin-bottom: var(--song-list-items-space-between);
    padding:    var(--song-list-item-up-down-margin)
                var(--song-list-item-side-margin)
                var(--song-list-item-up-down-margin)
                var(--song-list-item-side-margin);
    border-radius: 1em;
    background-color: var(--song-list-item-background-color);
}

.song-list-item-info {
    /* border: 2px dotted orange; */
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;
}

.song-list-item-actions {
    /* border: 2px dotted yellow; */
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: space-between;
}

.song-list-item-title {
    font-size: var(--song-list-title-size);
    font-weight: bold;
    color: var(--song-list-item-title-color);
}

.song-list-title-dark {
    color: var(--song-list-item-title-color-dark);
}

.song-list-item-album {
    font-size: var(--song-list-other-info-size);
    color: var(--song-list-other-info-color);
}

.song-list-item-artist {
    font-size: var(--song-list-other-info-size);
    color: var(--song-list-other-info-color);
}

.song-list-item-action-button {
    /* border: 2px solid blue; */
    display: flex;
    justify-content: flex-end;
}





/* LYRICS SCROLLER PAGE STYLES */
.song-title {
    /* border: red 1px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 100%;
    text-align: center;
    font-size: var(--lyics-title-size);
    font-weight: bold;
    margin-bottom: .0;
}

.song-subtitle {
    /* border: blue 1px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    width: 100%;
    font-size: var(--lyrics-subtitle-size);
    margin-bottom: .0;
}

.song-album {
    /* border: green 1px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    width: 100%;
    font-size: var(--lyrics-album-size);
    margin-bottom: .5em;
}

.lyrics-outer-container {
    /* border: orange 1px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    font-size: 30px;
    text-align: left;
    width: 100%;
}

#lyrics {
    /* width: 0%; */
    /* border: 2px solid yellow; */
    white-space: pre-wrap;
}